body {
    margin: 2% 13%;
    background-color: white;
    font-family: Arial, Helvetica, Verdana;
    }
    
div div div {
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    margin: 5px;
    top: 50px;
    left: 60px;
    font-size: 75%;
    text-align: center;
    background-color: #eeeeee;
}

body > div {
    position: relative;
    width: 260px;
    margin-left: 200px;
}

#div1 {
    position: absolute;
    width: 35px;
    top: 180px;
    left: 57px;
}

#div2 {
    width: 35px;
    position: absolute;
    top: 180px;
    left: 92px;
}

#div3 {
    width: 35px;
    position: absolute;
    top: 180px;
    left: 127px;
}

a {
    text-decoration: none;
}

span {
    vertical-align: middle;
}

.inline {
    display: inline-block;
    vertical-align: top;
}


.txt_rouge, #nb_seats {
    /*Créé par la function*/
    color: #ff0000;
    font-weight: bold;
    font-size: 130%;

}

.txt_noir {
    font-size: 120%;
    font-weight: bold;
}

button{
    font-weight: bold;
    font-size: 80%;
}

.likeboton {    font-family: verdana, arial, sans-serif;
   font-size: 10pt;
   font-weight: bold;
   padding: 4px;
   background-color: #ffffcc;
   color: #666666;
   text-decoration: none;
}
.like:link,
.like:visited {
   border-top: 1px solid #cccccc;
   border-bottom: 2px solid #666666;
   border-left: 1px solid #cccccc;
   border-right: 2px solid #666666;
}
.like:hover {
    border-bottom: 1px solid #cccccc;
   border-top: 2px solid #666666;
   border-right: 1px solid #cccccc;
   border-left: 2px solid #666666;
} 
